.article-infos{
    display: flex;
    color:#a9a9a9;
    border: 5px;
    font-size: 1rem;
}
.article-infos > .date{
    text-align:left;
    width: 50%;
    padding: auto;
}
.article-infos > .author{
    text-align:right;
    width: 50%;
    padding: auto;/*NOT centered*/
}
.article-infos > .author > img{
    height: 1.2rem;
}
article{
    background-color: #474747;
}