@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:wght@500&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end css reset stylesheet*/
:root{
    --navbar-height: 2.5rem;
    --footer-height: 2rem; /*not the actual height, get defined by a script*/ 
}
/*general stuff*/
body {
    background-color: #0C0C0C;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    margin: 0.5rem;
}
.container{
    color: aliceblue;
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}
h1 {
    display:block;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
/*links*/
a{
    text-decoration: none;
    color: #4141ff;
    transition: 0.3s;
}
a:hover{
    color: #3a3ae6;
}
/*navbar*/
.navbar{
    display:flex;
    width:100%;
    background-color: none;
    left:0;
    top:0px;
    align-items:center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    /*background-color: #b30000;*/
    height: var(--navbar-height);
}
.navbar > .bar{
    width: auto;
}
.navbar > .bar > li{
    display:inline;
}
.navbar > .bar > li > a{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: red;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar > .bar > li > a:hover{
    color: #b30000;
}
/*footer*/
footer{
    padding: 0px;
    background-color: #2a2a2a;
    color: white;
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    display:flex;
    margin:auto;
}
footer > .social_icons{
    text-align: center;
    font-size:1.5rem;
    width:33%;
    margin:auto;
}
footer > .social_icons > a{
    text-decoration: none;
    color:white;
    transition: 0.3s;
}
footer > .social_icons > a:hover{
    color:#3a3ae6;
}
footer > .foot_txt{
    width:33%;
    font-size:1rem;
    margin:auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
footer > .foot_txt_left{
    text-align:left;
}
footer > .foot_txt_right{
    text-align: right;
}